---
import { Picture } from "astro:assets";
import logo from "assets/logo.svg";
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "How It Works",
    path: "/how-it-works",
  },
  {
    title: "Our Mission",
    path: "/our-mission",
  },
  {
    title: "Blog",
    path: "/blog",
  },
  {
    title: "Contact",
    path: "/contact",
  },
  {
    title: "Secure Cryptocurrency",
    badge: true,
    path: "http://localhost:4321/blog/how-to-recover-lost-money-from-a-p2p-cryptocurrency-scam",
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="flex items-center text-lg rounded">
          <Picture
            src={logo}
            alt="UNKD"
            width={64}
            height={64}
            color="white"
            sizes="(max-width: 64px) 64px, 64px"
            loading="eager"
            format="svg"
          />
          <span class="text-[20px] font-bold pl-3 text-white">UNKD</span>
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-white" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900 rounded">
                      <span> {item.title}</span>
                      {item.badge && (
                        <span
                          id="NEW"
                          class="ml-1 px-2 py-0.5 text-[10px] animate-pulse font-semibold uppercase rounded-full">
                          New
                        </span>
                      )}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <Link
          href="https://tally.so/r/wLMNB2"
          size="md"
          target="blank"
          class="Assistance">Get Free Assistance</Link
        >
      </div>
    </div>
  </header>
</Container>

<style>
  a {
    color: white;
  }
  a:hover {
    color: #defff2;
  }
  #NEW {
    background-color: #0ff4c6;
    color: #29292a;
  }
  .Assistance {
    color: #29292a;
  }
  .Assistance:hover {
    color: #29292a;
  }
</style>
